<!-- Sidebar -->
<div class="w3-sidebar w3-dark-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item"></h3>
    <a routerLink="list_catigories" routerLinkActive="active" class="w3-bar-item w3-button">Categories</a>
    <a href="list_movies" class="w3-bar-item w3-button">Movies</a>
    <a href="#" class="w3-bar-item w3-button">Users</a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">



    <div class="w3-container">
        <router-outlet></router-outlet>


    </div>

</div>